asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
DateTime==5.4
Django==5.0.11
djangorestframework==3.15.0
idna==3.6
python-decouple==3.8
pytz==2024.1
requests==2.31.0
setuptools==69.2.0
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.1
whitenoise==6.8.2
zope.interface==6.2
