<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl">
        <div class="footer-container d-flex align-items-center justify-content-between py-2 flex-md-row flex-column">
            <div>
                ©
                <script>
                    document.write(new Date().getFullYear());
                </script>
                , made with ❤️ by <a href="https://pixinvent.com" target="_blank" class="fw-medium">RidwaanHall</a>
            </div>
            <div class="d-none d-lg-inline-block">
                <a href="https://github.com/ridwaanhall" class="footer-link me-4" target="_blank">Github</a>
                <a href="https://www.linkedin.com/in/ridwaanhall" target="_blank" class="footer-link me-4">Linkedin</a>

                <a href="https://www.instagram.com/ridwaanhall" target="_blank" class="footer-link me-4">Instagram</a>

                <a href="https://github.com/ridwaanhall/realcount-pemilu-2024" target="_blank" class="footer-link d-none d-sm-inline-block">Source Code</a>
            </div>
        </div>
    </div>
</footer>
<!-- / Footer -->